@mixin footerRespProperties {
    position: relative;
    padding: 0;
    border-top: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px $window-padding;
    border-top: 1px solid rgba($dark-color, .2);
    background: $background-color;

    @media (min-height: 620px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media(min-width:960px) and (orientation: landscape) {
        @include footerRespProperties;
    }
}