.input {
  max-width: 50px;
  padding: 5px;
  border: 1px solid $dark-color;

  &__item {
    width: 100%;
    border: 0;
    background: none;
    font-size: 16px;
    text-align: center;
  }

  &__btn {
    padding: 0 5px;
    margin: 0 0 0 10px;
    border: 1px solid $dark-color;
    color: $white-color;
    background: $dark-color;
    height: 34px;
  }

  &__img {
    display: block;
    height: 80%;
  }
}
