.logo {
    padding: 0;
    margin: 0;
    height: 46px;

    @media (min-width: 768px) {
        height: 60px;
    }

    @media (min-width: 1024px) {
        height: 70px;
    }

    &__link,
    &__img {
        display: block;
        height: 100%;
    }

    &__link {
        text-decoration: none;
    }
}