.popup {
    display: none;
    position: fixed;
    right: $window-padding;
    bottom: 80px;
    max-width: 300px;
    z-index: 999;

    &--active {
        display: block;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100vh;
            position: fixed;
            background: rgba($background-color, .85);
            top: 0;
            left: 0;
            z-index: -10;
        }
    }

    &__container {
        width: 100%;
        height: 100%;
        padding: 20px;
        border: 1px solid $dark-color;
        background: $background-color;
    }

    &__btns {
        display: flex;
        justify-content: center;
    }

    &__btn-container {
        padding: 20px 10px 0;
    }
}