.summary {
  @media (orientation: portrait) {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-height: 620px) and (orientation: portrait) {
    bottom: 70px;
  }

  &__headline {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;

    @media (min-width: 360px) and (min-height: 560px) {
      font-size: 18px;
    }

    @media (min-width: 420px) and (min-height: 640px) {
      font-size: 24px;
    }

    @media (min-width: 680px) and (min-height: 360px) and (orientation: landscape) {
      font-size: 18px;
    }

    @media (min-width: 1280px) and(min-height: 900px) and (orientation: landscape) {
      font-size: 24px;
      margin-bottom: 14px;
    }
  }

  &__scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 540px;
  }

  &__box {
    padding: 5px 10px;

    @media (min-width: 360px) and (min-height: 560px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (min-width: 420px) and (min-height: 680px) {
      padding: 20px;
    }

    @media (min-width: 680px) and (min-height: 360px) and (orientation: landscape) {
      padding-top: 13px;
      padding-bottom: 13px;
    }

    &--to-right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }

    &--to-left {
      text-align: left;
    }
  }

  &__type {
    margin: 0 0 2px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    @media (min-width: 360px) and (min-height: 560px) {
      margin: 0 0 4px;
      font-size: 16px;
    }

    @media (min-width: 360px) and (min-height: 680px) {
      font-size: 18px;
    }

    @media (min-width: 680px) and (min-height: 360px) and (orientation: landscape) {
      font-size: 16px;
    }

    @media (min-width: 1280px) and(min-height: 900px) and (orientation: landscape) {
      font-size: 18px;
    }
  }

  &__score {
    margin: 0;
    font-size: 20px;
    font-weight: 500;

    @media (min-width: 360px) and (min-height: 560px) {
      font-size: 24px;
    }

    @media (min-width: 420px) and (min-height: 680px) {
      font-size: 30px;
    }

    @media (min-width: 420px) and (min-height: 720px) {
      font-size: 34px;
    }

    @media (min-width: 680px) and (min-height: 360px) and (orientation: landscape) {
      font-size: 24px;
    }

    @media (min-width: 1280px) and(min-height: 900px) and (orientation: landscape) {
      font-size: 34px;
    }
  }
}
