$background-color: #F1F1F1;
$wins-color: #CFF3D8;
$losses-color: #F3CFCF;
$draws-color: #F3EDCF;
$neutral-color: #DCE0E2;
$neutral-color-hover: #C4CFD5;
$dark-color: #000;
$white-color: #fff;

$window-padding: 6vw;