$background-color: #f1f1f1;
$wins-color: #cff3d8;
$losses-color: #f3cfcf;
$draws-color: #f3edcf;
$neutral-color: #dce0e2;
$neutral-color-hover: #c4cfd5;
$dark-color: #000;
$white-color: #fff;

$window-padding: 6vw;
